<mat-card>
  <mat-card-title>Details of user {{ userName }}</mat-card-title>
  <mat-card-content>
    <mat-table [dataSource]="dataSource">
      <!-- ID COLUMN -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let task">{{ task.id }}</mat-cell>
      </ng-container>

      <!-- NAME COLUMN -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let task">{{ task.name }}</mat-cell>
      </ng-container>

      <!-- STATUS COLUMN -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let task">{{ task.status }}</mat-cell>
      </ng-container>

      <!-- CREATION COLUMN -->
      <ng-container matColumnDef="creationTime">
        <mat-header-cell *matHeaderCellDef>Creation time</mat-header-cell>
        <mat-cell *matCellDef="let task">{{ task.creationTimestamp | date: dateFormat }}</mat-cell>
      </ng-container>

      <!-- UPDATE COLUMN -->
      <ng-container matColumnDef="updateTime">
        <mat-header-cell *matHeaderCellDef>Last update time</mat-header-cell>
        <mat-cell *matCellDef="let task">{{ task.lastUpdateTimestamp | date: dateFormat }}</mat-cell>
      </ng-container>

      <!-- RESULT COLUMN -->
      <ng-container matColumnDef="result">
        <mat-header-cell *matHeaderCellDef>Result</mat-header-cell>
        <mat-cell *matCellDef="let task">
          <button *ngIf="task.fileUrl; else notFinished" mat-button (click)="openPreview(task)">
            See photo
          </button>
          <ng-template #notFinished>
            No result available
          </ng-template>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let task; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>

<ngx-image-gallery
  [images]="images"
  [conf]="conf">
</ngx-image-gallery>
